body {
    font-family: "Cabin", sans-serif;
    /* font-family: "Lobster", sans-serif; */
}

.custom-hr{
    background-color: white;
    height: 3px;
}

.navbar-brand,
.navbar-nav a {
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 20px;
}

.navbar-brand:hover,
.nav-link:hover{
    color: aqua;
}

.carousel-item img {
    height: 100vh;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: auto;
    }
    img {
        max-width: 100%;
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion-footer a{
    display: inline-block;
    margin-right: 10px;
}

